{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "node": "18.12.1"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread", 
    "@babel/plugin-proposal-optional-chaining"
  ]
}
