{
  "extends": "airbnb-base",
  "rules": {
    "object-shorthand": "off",
    "arrow-body-style": "off",
    "import/prefer-default-export": "off"
  },
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  }
}
